/node_modules
.DS_Store
/public/hot
/public/css/h5.css
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.php_cs.cache
/public/fonts/
/public/images/
/public/js/app.js
/public/mix-manifest.json
/dist/
/public/*.js
/lib
/share
/bin
/routes/t.php
/public/build/
up()
statement()
runUp()
runQueryCallback()
runPending()
runMigration()
run()
php
